.--dotted-underline {
  line-height: 173%;
  &-target {
    overflow-x: hidden;
    width: fit-content;
    &::after {
      content: "";
      display: flex;
      border-bottom: px2vw(2) dotted $color-red;

      transition: 300ms;
    }
  }
  &:hover & {
    &-target {
      &::after {
        transform: translateX(-33%);
      }
    }
  }
}
